
{% if page.url != "/signup.html" %}

<div class="addthis_tipjar_inline"></div>

{% endif %}

<!--
{% if page.url == "/" %}

<h3 class="promo">Get caught up further on this indictment with <a href="archive"> the archive</a></h3>

{% endif %}
-->


{% include newsletter.html %}

<p>While the indictment is slow moving (for now) <a href="/archive">get caught up with the archive</a>.</p>

<footer class="site-footer">

<p>Last updated {{ site.data.news.news[0].date | date: "%b %-d, %Y" }}.</p>

<p>A little internet project by <a href="https://www.dansinker.com">Dan Sinker</a>

</footer>
