<div id="mail">
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup{display:inline; font:14px Helvetica,Arial,sans-serif; width:100%;}
        #mc_embed_signup form{width: 100%;text-align: left;}
        #mc_embed_signup .button{background-color: black;}
        #mc_embed_signup input.email {border: 2px solid black; margin-right: 5px;}
    </style>
    <!-- buttondown signup -->
    <div id="mc_embed_signup">
    <form
  action="https://buttondown.email/api/emails/embed-subscribe/indictmentfyi"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/indictmentfyi', 'popupwindow')"
  class="embeddable-buttondown-form"
>
<div id="mc_embed_signup_scroll">
  <input type="email" name="email" id="bd-email" placeholder="get updates via email" class="emailform emailsignup"/>
  <input type="submit" value="Subscribe" id="mc-embedded-subscribe" class="button" />
</form>
</div>
    <!-- end buttondown signup-->

</div>
</div>
</div>